html, body {
    height: 100%;
}

#root {
    height: 100%;
  }

.App {
    height: 100%;
}

.quizInterface2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.quizInterface {
    text-align: center;
    padding: 5vh 5vw;
    font-size: xx-large;
    height: 90vh;
    width: 90vw;
    background-color: darkcyan;
    background-color: rgb(80, 80, 240);
    
}




.showSpanishButton {
    padding: 20px;
    margin: 20px;
}

.progressBarContainer {
    height: 10vh;
    /* background-color: cyan; */
}

.progressBar {
    background-color: black;
    width: 100%;
    margin: auto;
    border-style: solid;
    border-radius: 15px;
    
}

.progress {
    background-color: green;
    width: 50%;
    border-radius: 10px;
}

.progressBar2 {
    /* background-color: black; */
    width: 100%;
    margin: auto;
    /* border-style: solid;
    border-radius: 15px; */
    
}
.progressBarDescription {
    font-size: x-large;
    color: bisque;
}

.progressBox {
    background-color: grey;
    width: 50%;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    display: inline-flex;
    font-size: large;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.spanishExample, .englishTranslation {
    padding: 0%;
    margin: 4vh 0vw;
    background-color:lightcyan;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 15px;
}

.spanishExample:hover {
    background-color: lightblue;
}

.buttonsContainer {
    height: 20vh;
    width: 100%;
    /* background-color: cyan; */
    margin-top: 0%;
    
}

.buttonReviewMore {
    background-color: lightcoral;
    border-color: lightcoral;
}

.buttonReviewMore:hover {
    background-color: orange;
}

.buttonReviewLess {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    color: light
}

.buttonReviewLess:hover {
    background-color: deepskyblue;
}

.buttonsContainer button {
    font-size: large;
    padding: 20px;
    /* background-color: lightgrey; */
    border-radius: 10px;
    font-weight: bold;
}
