#exampleCreator,
#exampleEditor,
#vocabTagging {
  display: flex;
  flex-direction: row;
}

#examplePreview,
#exampleForm,
.halfOfScreen {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

/* ********* Example Preview ********* */

.previewCard {
  position: relative;
  display: flex;
  width: auto;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid var(--accent);
  background: var(--light);
  padding: 4px 16px;
  margin: 5px 30px;
}
/* Needed to center audio play/pause button */
.previewCard .audioPlayPauseButton {
  position: relative;
}
/* Example Labels */
#examplePreview h4 {
  text-align: left;
}

@media screen and (max-width: 834px) {
  #exampleCreator {
    flex-direction: column;
  }
  #examplePreview,
  #exampleForm {
    width: 100%;
  }
}

/* ********* Example Creation Form ********* */

/* Form inputs separated into 2 parent divs
so we can do col/row later on smaller screens */
#exampleForm > div {
  display: flex;
  flex-direction: column;
  margin: 10px 10%;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
}

.styledInput {
  border-color: rgb(181, 183, 185);
  border-radius: 3px;
  font-size: 14px;
  padding: 4px 8px;
}
.required::after {
  content: ' *';
  color: red;
}

/* Temporary button styling, should be updated later */
#exampleForm button {
  width: 33%;
  margin: 10px auto;
}

.inputWithoutStyle {
  border: none;
  background: none;
  margin: none;
  padding: 8px;
}

.tdWithoutPadding {
  padding: 0;
}
