#exampleCreator {
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: space-around; */
}
#examplePreview,
#exampleForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

/* ********* Example Creation Preview ********* */
#examplePreview .exampleCard {
  display: flex;
  flex-direction: column;
  /* margin: 10px; */
}
#examplePreview .exampleCard > div {
  position: relative;
  display: flex;
  width: auto;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 4px; */
}
#examplePreview .exampleCard > div .audioPlayPauseButton {
  /* Needed to center audio play/pause button */
  position: relative;
}

/* ********* Example Creation Form ********* */

#exampleForm {
  /* width: 50%; */
  /* display: flex;
  flex-direction: column; */
  /* margin: 0 auto; */
  /* justify-content: space-between; */
}
#exampleForm > div {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* margin: 10px 10%; */
  /* justify-content: space-around; */
  /* margin: auto; */
  margin: 10px 10%;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  /* margin: 0 10px; */
}

.styledInput {
  border-color: rgb(181, 183, 185);
  border-radius: 3px;
  font-size: 14px;
  padding: 4px 8px;
  /* width: 80%; */
}
.required::after {
  content: ' *';
  color: red;
}

#exampleForm button {
  width: 33%;
  margin: 10px auto;
}
