
# TRY THREE
VITE_API_AUDIENCE =
VITE_AUTH0_DOMAIN = 
VITE_AUTH0_CLIENTID = 

VITE_LOCAL_DOMAIN =
VITE_BACKEND_DOMAIN = 

# url to use for outside hexagon config
REACT_APP_BACKEND_URL = 

# Vite Config
VITE_ENVIROMENT = 
VITE_PORT = 

# Sentry Config
SENTRY_AUTH_TOKEN = 
