# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/reports
.stryker-tmp

# build
build
buld/*

# NPMRC
.npmrc

# misc
.env
.env.*
.env.development
.env.test
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.sentry-build-plugin
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sentry Config File
.sentryclirc
.env.sentry-build-plugin

# Don't commit NPM since this project is using PNPM
package-lock.json

# Huge Data Files
mocks/data/api/actualServerData.json
mocks/data/serverlike/actualServerData.json
src/mocks/data/serverlike/actualServerData.json
# stryker temp files
.stryker-tmp
