// Highest level Wrapper
.CustomAudioQuizWrapper {
  .loadingWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  .errorMessage {
    background-color: #fee;
    color: #c33;
    padding: 15px;
    border-radius: 0px;
    border: 1px solid #fcc;
    text-align: center;
    margin: 20px 0px;
  }
}

// All other styles are in QuizSetupMenu.scss
