.srsButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 41.8px;

  @media screen and (max-width: 480px) {
    min-height: 62.8px;
  }
}

.greenButton {
  background-color: darkgreen;
}

.redButton {
  background-color: darkred;
}

.easyBanner {
  flex-grow: 2;
  background-color: darkgreen !important;
  cursor: default !important;
}

.hardBanner {
  flex-grow: 2;
  background-color: darkred !important;
  cursor: default !important;
}
