.admin-dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 20px;

  // responsive
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.section-with-interactive-table .body-container table tbody td:first-child {
  cursor: pointer;
}
