@import 'src/components/CoachingDashboard/CoachingDashboard.scss';

.admin-dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 20px;

  // responsive
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.section-with-interactive-table .body-container table tbody td:first-child {
  cursor: pointer;
}

.sectionHeader--deprecated {
  .titleWrapper {
    cursor: not-allowed;
    color: #9e9e9e;

    &:hover {
      background-color: transparent;
    }

    h2 {
      color: #9e9e9e;
    }

    .colapsableMenuArrow {
      color: #bdbdbd;
    }
  }
}
