.div-user-subheader {
  padding: 10px 5%;
  background-color: var(--accent);
  color: var(--light);
  margin: 0;
  display: flex;
  justify-content: center;

  button {
    background-color: var(--light);
    color: var(--dark);
    font-size: 12px;
    padding: 5px 15px;
    // padding: 0;
    margin: 0 4px;
  }
}

.studentList {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  justify-content: space-between;
  padding: 0px;

  p {
    margin: 0 15px;
  }

  input {
    max-width: 70%;
  }
}
