.newCoachingWrapper {
  margin: 1rem;

  .filterWrapper {
  }
  .tableWrapper {
  }
}

.tableWrapper {
  width: auto;
  max-height: 80vh;
  overflow-x: auto;
  margin-top: 1rem;

  table {
    width: 100%;
    scroll-behavior: auto;
    border-collapse: separate; /* Don't collapse */
    border-spacing: 0; /* Spacing between cells */
    font-size: 0.75rem;
    line-height: 1rem;

    th,
    td {
      min-width: 100px;
      border: 1px solid black;
      padding: 0.25rem;
      text-align: start;
      vertical-align: top;
    }
    thead {
      th {
        position: sticky;
        top: 0px;
        z-index: 1;
        color: white;
        background-color: grey;
        font-weight: 600;
      }

      // first cell in thead is sticky
      th:first-child {
        position: sticky;
        left: 0px;
        z-index: 2;
      }
    }
    tbody {
      td {
        background-color: #f2f2f2;
      }

      // first cell in each row is sticky
      td:first-child {
        position: sticky;
        left: 0px;
        z-index: 1;
        background-color: var(--accent);
        font-weight: 600;
        font-size: 0.9rem;
        line-height: 1.5rem;
      }
    }
  }
}
