.readOnlyFilterSection {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .filterItem {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    h4,
    p {
      margin: 0px;
      padding: 0px;
    }
  }

  .firstRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
  .vocabTagsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .vocabTag {
    min-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    position: relative;
    padding: 5px;

    background-color: var(--light);
    border: 4px solid var(--brand);
    text-align: center;
    overflow: hidden;
    margin: 5px;
    border-radius: 0;
    cursor: pointer;
  }
}

.getExamplesButtonWrapper {
  margin: 0px 30px;
}
.getExamplesButton {
  background-color: green;
  color: var(--light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
// .filterSection {
//   padding: 0px 20px;
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
// }

.searchTermBox {
  display: flex;
  flex-direction: row;
  height: 41px;
}

.clearSearchButton {
  &.disabled {
    // i want it to be invisible, but still take up space
    visibility: hidden;
    width: 98px;
    height: 0px;
    opacity: 0;
    pointer-events: none;
  }
}
