/*Styles for the coaching section*/

.coachingFilterSection {
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.coachingFilterSection .searchOrButton {
  display: flex;
  padding: 0px 10px;
  align-content: center;
}

.coachingFilterSection div h4 {
  margin: 0px;
}

.moreFilters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  padding: 5%;
  background-color: var(--brand);
  border: 5px solid var(--dark);
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}

.numberShowing {
  padding: 10px 20px;
}

.studentPopup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  padding: 5%;
  background-color: var(--light);
  border: 5px solid var(--dark);
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}

.callBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
}

.callPopup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  padding: 5%;
  background-color: var(--light);
  border: 5px solid var(--dark);
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}

.callPopup input {
  min-height: 30px;
}

.groupSessionPopup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  padding: 5%;
  background-color: var(--light);
  border: 5px solid var(--dark);
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}

.groupAttendeeList {
  display: flex;
  flex-direction: row;
}

.groupAttendee {
  margin-right: 7px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  color: var(--light);
  background-color: var(--dark);
}

.assignmentPopup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  padding: 5%;
  background-color: var(--light);
  border: 5px solid var(--dark);
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}

.studentRecords {
  border-collapse: collapse;
  margin: 15px;
}

.tableHeader {
  background-color: var(--brand);
  color: var(--light);
  border: 2px solid var(--dark);
}

.tableHeader th {
  padding: 10px;
}

.studentWeek {
  background-color: var(--light);
  margin: 9px;
  border: 1px solid var(--dark);
  padding: 5px 10px;
}

.studentWeekNotes {
  padding: 5px;
}

.studentHeader {
  padding: 0px;
  border-bottom: 1px solid var(--light);
  background-color: var(--dark);
}

.studentBox {
  color: var(--light);
  padding: 10px 20px;
  cursor: pointer;
}

.assignmentBox {
  margin: 5px;
  display: flex;
  justify-content: center;
}
