.searchTermBox {
  display: flex;
  flex-direction: row;
  height: 41px;
}

.clearSearchButton {
  &.disabled {
    // i want it to be invisible, but still take up space
    visibility: hidden;
    width: 98px;
    height: 0px;
    opacity: 0;
    pointer-events: none;
  }
}
