/* New Quiz Progress */
.quizProgress {
  margin: 0 auto;
  text-align: center;
  max-width: 640px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quizProgress h3 {
  margin-top: 12px;
  margin-bottom: 0px;
}
.quizProgress p {
  margin-bottom: 6px;
  margin-top: 0;
}
.progressBar {
  background-color: #d9d9d9;
  width: 100%;
  height: 4px;
}
.progressBarFill {
  background-color: var(--brand);
  display: block;
  content: '';
  width: 0;
  height: 100%;
  transition: width 0.5s;
}

@media screen and (max-width: 480px) {
  .quizProgress {
    position: absolute;
    top: 0;
    width: 100vw;
    background-color: var(--theme);
  }
  .quizProgress h3,
  .quizProgress p {
    width: 70vw;
    color: var(--light);
  }
  .quizProgress h3 {
    font-size: 1rem;
  }
  .quizProgress p {
    font-size: 0.75rem;
  }
}

/* Flashcard Buttons */

.customFlashcardButton.onFlashcard {
  top: 25px;
  width: fit-content;
  font-size: 10px;
  padding: 5px 10px;
  margin: 0 auto;
  z-index: 5;
  /* width: 170px; */

  &:hover {
    background-color: var(--brand);
    cursor: default;
  }
}
