/* Used by App.js, ExampleRetriever.js, Menu.js */

/*General Theming Styles*/
:root {
  --brand: #449ac2;
  --theme: #6f6259;
  --accent: #B0a96f;
  --light: #ffffff;
  --dark: #3c3c3c;
}


body {
  background-image: url('./resources/paper-small.jpeg');
}

a {
  text-decoration: none;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  border: 1px solid var(--dark);
  border-radius: 0%;
}

/*ExampleRetriever*/
h1 {
  color: var(--light);
  text-align: center;
  margin: 0;
}

h2, h3, h4, h5, h6 {
  color: var(--dark);
  text-align: center;
}

.bannerMessage {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  margin: 0;
  background-color: darkgreen;
  border: 1px solid var(--light);
  color: var(--light);
  z-index: 999;
}

.bannerMessage p {
  margin: 0;
}

button, .linkButton {
  text-align: center;
  font-family: 'Poppins', 'Avenir', 'Helvetica', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 30px;
  color: var(--light);
  background-color: var(--brand);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #B0a96f;
  color: #ffffff;
}

.navigateButtons {
  position: absolute;
  right: 0px;
  left: 0px;
  margin: 0;
  top: 0px;
  bottom: 0px;
}

 .nextButton {
  font-size: 48px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
}

 .previousButton {
  font-size: 48px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
}

/*Main Menu Styles*/

.div-header{
  padding: 30px 5%;
  background-color: var(--theme);
  color: var(--light);
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.div-header button {
  background-color: var(--light);
  color: var(--dark);
}

.div-user-subheader {
  padding: 10px 5%;
  background-color: var(--accent);
  color: var(--light);
  margin: 0;
  display: flex;
  justify-content: center;
}

.div-user-subheader button{
  background-color: var(--light);
  color: var(--dark);
  font-size: 12px;
  padding: 5px 15px;
  margin: 0px;
}

.div-user-subheader p {
  margin: 0px 15px;
}

.studentList input {
  max-width: 70%;
}

.studentList {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  justify-content: space-between;
  padding: 0px;
}

.menu-buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  min-height: 250px;
}

/*Callback page Styles */


.redirectMessage {
  display: block;
  text-align: center;
  width: 50%;
  margin: 10% 25%;
}

/*Sentence Retreiver Styles*/

.div-vocab {
  margin-top: 10px;
  display: flex;
}

.finishedMessage {
  margin: auto;
  text-align: center;
  width: 50%;
  min-width: 400px;
}

.finishedMessage p {
  margin-top: 40px;
  margin-bottom: 40px;
}

/*General Quiz Styles*/

.quiz {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.exampleBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.spanishExample, .englishTranslation {
  position: relative;
  width: 65%;
  min-width: 300px;
  min-height:200px;
  color: var(--dark);
  background-color: var(--light);
  text-align: center;
  display: flex;
  flex-direction: column;
  vertical-align: center;
  justify-content: center;
  padding: 25px 50px;
  border: 4px solid var(--accent);
  cursor: pointer;
}

.spanishExample p, .englishTranslation p {
  font-size: 18px;
  text-align: center;
}

.spanishExample p {
  font-weight: 600;
  font-style: italic;
}

.readyButton {
  display: flex;
  justify-content: space-around;
}

.quizInterface {
  margin-top: 40px;
}

.quizControls {
  height: 240px;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
}

.buttonBox {
  text-align: center;
  width: 65%;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: stretch;
  margin: 10px auto;
}

.buttonBox button, .buttonBox .linkButton {
  margin: 0px 10px;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuBox {
  width: 100%;
  align-content: center;
}

.greenButton{
  background-color: darkgreen;
}

.redButton{
  background-color: darkred;
}

.hardButton:hover, .easyButton:hover {
  background-color: var(--dark);
}

.easyBanner{
  background-color: darkgreen !important;
  cursor: default !important;
}

.hardBanner{
  background-color: darkred !important; 
  cursor: default !important;
}

.quizSelector {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 0 auto;
  justify-content: space-between;
  width: 50%;
}

.quizMenu {
  margin-bottom: 20px;
  height: 65px;
  text-align: center;

}

.progressBar2 {
  display:block;
  text-align: center;
  justify-self: center;
}

.addFlashcardButton {
  position: absolute;
  top: 0px;
  right: 0px;
  width: fit-content;
  background-color: darkgreen;
  font-size: 10px;
  padding: 5px 10px;
  margin: 0 auto;
}

.removeFlashcardButton {
  position: absolute;
  top: 0px;
  right: 0px;
  width: fit-content;
  background-color: darkred;
  font-size: 10px;
  padding: 5px 10px;
  margin: 0 auto;
}

.addFlashcardButton:hover, .removeFlashcardButton:hover {
  background-color: var(--dark);
}

/* For Audio Quiz */

.comprehensionHeader{
  margin-bottom: 0px;
}

.audioBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.audioExample {
  position: relative;
  width: 65%;
  min-width: 300px;
  min-height:200px;
  margin: 20px auto;
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
  display: flex;
  flex-direction: column;
  vertical-align: center;
  justify-content: center;
  padding: 25px 50px;
  border: 4px solid var(--brand);
  cursor: pointer;
}

.audioExample h3 {
  color: var(--light);
}

.progressBarHolder {
  position: relative;
  height: 150px;
  margin: 10px 0;
  width: 100%;
  background-color: var(--dark);
  color: var(--light);
}

.progressBarHolder h4 {
  margin: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  text-align: center;
  padding: 60px;
  color: var(--light);
  z-index: 5;
}

.progressStatus {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-color: var(--theme);
  color: var(--light);
  z-index: 1;
}


/* For Flashcard Finder */

.flashcardFinderHeader {
  margin: 0px;
  padding: 0px;
}

.filterSection {
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.filterBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-evenly;
}

.removeSpanglishBox {
  text-align: center;
  margin: 0 10px;

}

.lessonFilter {
  margin: 0 10px;
  flex-grow: 1;
}

.wordFilter, .tagFilter{
  text-align: center;
  margin: 0 10px;
  position: relative;
  flex-grow: 2;
  max-width: 45%;
}

.wordSearchBox .tagSearchBox{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  max-width: 450px;
  margin: auto;
}

.searchTermBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: right;
  justify-content: center;
  align-content: center;
}

.searchTermBox p, .searchTermBox input {
  margin: 0 5px;
}

.vocabSuggestionBox, .tagSuggestionBox {
  position: absolute;
  top: 105px;
  right: 0px;
  z-index: 999;
}

.examplesTable {
  min-height: 1200px;
  padding: 0px;
}

.examplesTable .buttonBox{
  text-align: center;
  color: var(--light);
  font-size: 12px;
  padding: 0px;
  align-self: stretch;
  margin: 5px 30px;
  width: auto;
}

.examplesTable .buttonBox button {
  width: 100%;
  background-color: var(--theme);
  margin: 0 auto;
  padding: auto;
}

.examplesTable .buttonBox button:hover {
  background-color: var(--accent);
}

.examplesTable .buttonBox button:active {
  background-color: var(--brand);
}

.vocabCard {
  text-align: left;
  background-color: #fff;
  color: #3c3c3c;
  font-size: 12px;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  border: 2px solid var(--theme);
}

.vocabCard h4 {
  font-size: 14px;
  color: var(--brand);
  text-align: left;
  margin-bottom: 0;
  margin: 5px;
}

.vocabCard p {
  font-size: 14px;
  color: var(--theme);
  text-align: left;
  margin: 0;
}

.vocabSmallCard{
  text-align: left;
  background-color: #fff;
  color: #3c3c3c;
  font-size: 11px;
  padding: 2px 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  border: 2px solid var(--theme);
}

.vocabSmallCard h4 {
  font-size: 11px;
  color: var(--brand);
  text-align: left;
  margin-bottom: 0;
  margin: 5px;
}


.tagCard {
  text-align: left;
  background-color: #fff;
  color: #3c3c3c;
  font-size: 12px;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  border: 2px solid var(--theme);
}

.tagCard h4 {
  font-size: 14px;
  color: var(--brand);
  text-align: left;
  margin-bottom: 0;
  margin: 5px;
}

.tagCard p {
  font-size: 14px;
  color: var(--theme);
  text-align: left;
  margin: 0;
}

.exampleCard {
  text-align: center;
  background-color: var(--accent);
  color: var(--light);
  font-size: 12px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 5px 30px;
}

.exampleCardSpanishText, .exampleCardEnglishText {
  flex-grow: 1;
  width: 70px;
  background-color: var(--light);
  align-content: center;
  margin: 2px;
  padding: 5px 15px;
}

.addButton, .ownedButton {
  width: 10%;
  min-width: 120px;
}

.ownedButton, .ownedButton:hover, .ownedButton:active {
  background-color: var(--dark);
}

.exampleCardSpanishText h3 {
  text-align: left;
  font-size: 16px;
  font-style: italic;
  margin: 0;
}

.exampleCardEnglishText h4 {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

/*Styles for the coaching section*/

.coachingFilterSection {
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.coachingFilterSection .searchOrButton {
  display: flex;
  padding: 0px 10px;
  align-content: center;
}

.coachingFilterSection div h4{
  margin: 0px;
}


.moreFilters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow:scroll;
  padding: 5%;
  background-color: var(--brand);
  border: 5px solid var(--dark);
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}

.numberShowing {
  padding: 10px 20px;
}

.studentPopup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow:scroll;
  padding: 5%;
  background-color: var(--light);
  border: 5px solid var(--dark);
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}

.callPopup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow:scroll;
  padding: 5%;
  background-color: var(--light);
  border: 5px solid var(--dark);
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}

.groupSessionPopup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow:scroll;
  padding: 5%;
  background-color: var(--light);
  border: 5px solid var(--dark);
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}

.groupAttendeeList {
  display: flex;
  flex-direction: row;
}

.groupAttendee {
  margin-right: 7px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  color: var(--light);
  background-color: var(--dark);
}

.assignmentPopup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow:scroll;
  padding: 5%;
  background-color: var(--light);
  border: 5px solid var(--dark);
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}

.studentRecords {
  border-collapse: collapse;
  margin: 15px;
}

.tableHeader {
  background-color: var(--brand);
  color: var(--light);
  border: 2px solid var(--dark);
}

.tableHeader th {
  padding: 10px;
}

.studentWeek {
  background-color: var(--light);
  margin: 9px;
  border: 1px solid var(--dark);
  padding: 5px 10px;
}

.studentHeader {
  padding: 0px;
  border-bottom: 1px solid var(--light);
  background-color: var(--dark);
}

.studentBox {
  color: var(--light);
  padding: 10px 20px;
  cursor: pointer;
}

.assignmentBox {
  margin: 5px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .div-header {
    flex-direction: column;
    align-items: center;
  }

  .div-header h1 {
    margin-bottom: 20px;
  }

  .spanishExample, .englishTranslation {
    box-sizing: border-box;
    width: 95%;
    min-width: 0;
  }

  .buttonBox {
    width: 95%;
    min-width: 0;
  }
}