/* Used by App.js, ExampleRetriever.js, Menu.js */

:root {
  --overall: rgb(200, 220, 240);
  --header: rgb(80, 80, 240);
  --suggestions: rgb(200, 240, 240);
  --customVocab: rgb(171, 253, 171);
  --tableHeader: rgb(80, 100, 120);
  --tableRow: rgb(180, 200, 220);
  --tableVocabIncluded: rgb(240, 240, 240);
  --fontLight: ivory;
  --fontDark: black
}



body {
  background-color: rgb(221, 209, 205);
  background-color: var(--overall);
}

/*ExampleRetriever*/
h1 {
  background-color: var(--header);
  color: var(--fontLight);
}
/*vocab*/
.div-vocab {
  display: flex;
}

.div-vocab-left, .div-vocab-right {
  width: 50%
}
/*
.div-vocab-left {
  display: flex;
}
*/

/* Top Left Search Bar */
.search {
  width: 46%;
  padding: 10px 0px;
}

/* Top Left 'Add to Search Query' Button */
.add-to-search-query {
  width: 50%;
  padding: 10px 0px;
}

/* Top Left List of suggested vocab */
.suggestions {
  background-color: var(--suggestions);
  color: black;
  height: 200px;
  overflow: auto;
  resize: vertical;
  list-style-type: none;
  font-weight: bold;
}
.suggestions li:hover {
  background-color: yellow;
}

/* Top Right Lesson select dropdown */
.lesson-select {
  display: inline-block;
  padding: 10px 0px;
}

/* Top Right 'Retrieve Sentences' button */
.retrieve-sentences {
  width: 50%;
  padding: 10px 0px;
  font-weight: bold;
}

/* Top Right - Vocab added on the right side, to be searched */
.custom-vocab {
  background-color: var(--customVocab);

  border: none;
  outline: none;
  padding: 6px;
  
  margin: 2px;
  border-radius: 10px;
}

.custom-vocab:hover {
  background-color: lightsalmon;
}

/* Bottom - Examples*/

.div-examples-header {
  display: flex;
  justify-content: space-between;
}

.div-examples-header button {
  padding: 8px;
}

.div-examples table {
  width: 100%;
  table-layout: fixed;
  vertical-align: baseline;
  font-weight: bold;
}

.div-examples th {
  background-color: var(--tableHeader);
  color:ivory
}

.div-examples tr:nth-child(even) {
  background-color: var(--tableRow);
}

/* underneath Vocab/Idioms */
.vocab-included-button {
  font-size: xx-small;
  padding: 1px 1px;
  margin: 0;
  color: black;

}