/* Used by App.js, ExampleRetriever.js, Menu.js */

:root {
  --brand: #449ac2;
  --theme: #6f6259;
  --accent: #B0a96f;
  --light: #ffffff;
  --dark: #3c3c3c;
}


body {
  background-image: url('./resources/paper-small.jpeg');
}

a {
  text-decoration: none;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  border: 1px solid var(--dark);
  border-radius: 0%;
}

/*ExampleRetriever*/
h1 {
  color: var(--light);
  text-align: center;
  margin: 0;
}

h2, h3, h4, h5, h6 {
  color: var(--dark);
  text-align: center;
}

button, .linkButton {
  text-align: center;
  font-family: 'Poppins', 'Avenir', 'Helvetica', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 30px;
  color: var(--light);
  background-color: var(--brand);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #B0a96f;
  color: #ffffff;
}

.div-header{
  padding: 30px 5%;
  background-color: var(--theme);
  color: var(--light);
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.div-header button {
  background-color: var(--light);
  color: var(--dark);
}

.menu-buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  min-height: 250px;
}

.div-vocab {
  margin-top: 10px;
  display: flex;
}

.finishedMessage {
  margin: auto;
  text-align: center;
  width: 50%;
  min-width: 400px;
}

.finishedMessage p {
  margin-top: 40px;
  margin-bottom: 40px;
}


.quiz {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.exampleBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.spanishExample, .englishTranslation {
  position: relative;
  width: 65%;
  min-width: 300px;
  min-height:200px;
  color: var(--dark);
  background-color: var(--light);
  text-align: center;
  display: flex;
  flex-direction: column;
  vertical-align: center;
  justify-content: center;
  padding: 25px 50px;
  border: 4px solid var(--accent);
  cursor: pointer;
}

.spanishExample p, .englishTranslation p {
  font-size: 18px;
  text-align: center;
}

.spanishExample p {
  font-weight: 600;
  font-style: italic;
}

.quizInterface {
  margin-top: 40px;
}

.quizControls {
  height: 240px;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
}

.buttonBox {
  text-align: center;
  width: 65%;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: stretch;
  margin: 10px auto;
}

.buttonBox button, .buttonBox .linkButton {
  margin: 0px 10px;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuBox {
  width: 100%;
  align-content: center;
}

.easyButton{
  background-color: darkgreen;
}

.hardButton{
  background-color: darkred;
}

.hardButton:hover, .easyButton:hover {
  background-color: var(--dark);
}

.easyBanner{
  background-color: darkgreen !important;
  cursor: default !important;
}

.hardBanner{
  background-color: darkred !important; 
  cursor: default !important;
}

.quizSelector {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 0 auto;
  justify-content: space-between;
  width: 50%;
}

.quizMenu {
  margin-bottom: 20px;
  height: 65px;
  text-align: center;

}

.progressBar2 {
  display:block;
  text-align: center;
  justify-self: center;
}

.addFlashcardButton {
  position: absolute;
  top: 0px;
  right: 0px;
  width: fit-content;
  background-color: darkgreen;
  font-size: 10px;
  padding: 5px 10px;
  margin: 0 auto;
}

.removeFlashcardButton {
  position: absolute;
  top: 0px;
  right: 0px;
  width: fit-content;
  background-color: darkred;
  font-size: 10px;
  padding: 5px 10px;
  margin: 0 auto;
}

.addFlashcardButton:hover, .removeFlashcardButton:hover {
  background-color: var(--dark);
}


/* For Flashcard Finder */

.flashcardFinderHeader {
  margin: 0px;
  padding: 0px;
}

.filterSection {
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}

.removeSpanglishBox {
  margin: 0 10px;
  flex-grow: 1;
}

.lessonFilter {
  margin: 0 10px;
  flex-grow: 1;
}

.wordFilter{
  text-align: center;
  margin: 0 10px;
  position: relative;
  flex-grow: 1;
}

.wordSearchBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 450px;
  margin: auto;
}

.searchTermBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 30px;
  text-align: right;
  justify-items: flex-end;
}

.searchTermBox p, .searchTermBox input {
  display: block;
  margin: 0 5px;
}

.vocabSuggestionBox {
  position: absolute;
  top: 128px;
  right: 0px;
}

.examplesTable {
  padding: 0px;
}

.examplesTable .buttonBox{
  text-align: center;
  color: var(--light);
  font-size: 12px;
  padding: 0px;
  align-self: stretch;
  margin: 5px 30px;
  width: auto;
}

.examplesTable .buttonBox button {
  width: 100%;
  background-color: var(--theme);
  margin: 0 auto;
  padding: auto;
}

.examplesTable .buttonBox button:hover {
  background-color: var(--accent);
}

.examplesTable .buttonBox button:active {
  background-color: var(--brand);
}

.vocabCard {
  text-align: center;
  background-color: #fff;
  color: #3c3c3c;
  font-size: 12px;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  border: 2px solid var(--theme);
}

.vocabCard h4 {
  font-size: 14px;
  color: var(--brand);
  text-align: center;
  margin-bottom: 0;
  margin: 5px;
}

.vocabCard p {
  font-size: 14px;
  color: var(--theme);
  text-align: center;
  margin-bottom: 0;
  margin: 5px;
}

.exampleCard {
  text-align: center;
  background-color: var(--accent);
  color: var(--light);
  font-size: 12px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 5px 30px;
}

.exampleCardSpanishText, .exampleCardEnglishText {
  flex-grow: 1;
  width: 70px;
  background-color: var(--light);
  align-content: center;
  margin: 2px;
  padding: 5px 15px;
}

.exampleCardSpanishText h3 {
  text-align: left;
  font-size: 16px;
  font-style: italic;
  margin: 0;
}

.exampleCardEnglishText h4 {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .div-header {
    flex-direction: column;
    align-items: center;
  }

  .div-header h1 {
    margin-bottom: 20px;
  }

  .spanishExample, .englishTranslation {
    box-sizing: border-box;
    width: 95%;
    min-width: 0;
  }

  .buttonBox {
    width: 95%;
    min-width: 0;
  }
}