.notValidSearchError {
  color: var(--error-text);
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
}

.searchButton {
  margin: 1rem auto;
  display: block;
  font-size: 1.2rem;
}

.selectAllButton,
.clearSelectionButton {
  margin-left: 30px;
  display: block;
}

.selectAllButton {
  background-color: darkgreen;
}
.clearSelectionButton {
  background-color: darkred;
}
