.column {
  display: flex;
  flex-direction: column;
  gap: var(--lcs-space-9);
}

.entries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--lcs-space-9);
}

@media (max-width: 768px) {
  .column {
    gap: var(--lcs-space-7);
  }

  .entries {
    display: flex;
    flex-direction: column;
    gap: var(--lcs-space-7);
  }
}
